<div id="tf-contact" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center">


					<h1><%= @profile.full_name %></h1>
					<h3><%= @profile.user.email %></h3>

					<img src="<%= @profile.photo %>">

					<p><%= @profile.description %></p>

					<%= link_to 'All Organizations', profiles_path %>
					<% if @profile.user == current_user %>
						| <%= link_to 'edit', edit_user_registration_path %>
					<% end %>

					</div>
				</div>
			</div>
			
		</div>
</div>