 <!-- Services Section
    ==========================================-->
<h1>Events:</h1>

<h2> You made it to the index page </h2>

<% if user_signed_in? %>
	<% if current_user.organization %>
		<%= link_to 'Add a new event', new_event_path(@event) %>
	<% end %>
<% end %>

    <div id="tf-services" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>Upcoming <strong>events</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</em></small>
            </div>

        <div class="container">
            <div class="row">
            <% @events.each do |event| %>
                <div class="col-md-6">
                    <img src="<%= event.photo %>" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h4>About us</h4>
                            <h2><strong><%= link_to event.name, event_path(event) %></strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro"><%= event.description %>We love building and rebuilding brands through our  specific skills. Using colour, fonts, and illustration, we brand companies in a way they will never forget.</p>
                        <ul class="about-list">
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Description</strong> - <em><%= event.description %></em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Organization</strong> - <em><%= event.user.full_name %></em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Location</strong> - <em>Satisfied clients thanks to our experience</em>
                            </li>
                        </ul>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
