<h1>Events:</h1>

<% if current_user.organization %>
	<%= link_to 'Add a new event', new_event_path(@event) %>
<% end %>


<% @events.each do |event| %>
	<tr>
		<td><%= event.user.full_name %></td>
		<td><%= event.name %></td>
		<td><%= event.description %></td>
		<td><%= link_to "View", event_path(event) %></td>
	</tr>
<% end %>