<!-- Services Section
    ==========================================-->
<!-- <h1>Events:</h1>

<h2> You made it to the index page </h2> -->
 <div id="tf-menachem" class="text-center whatever">
    <div class="overlay events-page">
        <div class="container events_title event-title">

            <div class="section-title center event-info">
                <h2>Upcoming <strong>events</strong></h2>
                <% if user_signed_in? %>
                    <% if current_user.organization %>
                        <h4><%= link_to 'Add a new event', new_event_path(@event) %></h4>
                    <% end %>
                <% end %>
                <div class="line"><hr></div>
                <div class="clearfix"></div>
                <em>Below are all the RAK events happening nearby! Look through the list and find the one that fits you! Most events require no previous experience to volunteer. Join an event and partner with the organization of your choice to help make a difference.</em><br /><br />
            </div>
        </div>
        <div class="row event_line">
            <div class="col-md-6 col-lg-6 col-md-offset-3">
                <hr>
            </div>
        </div>

        <div class="container">
            
            <% @events.each do |event| %>

                <div class="row event_background">
                    <div class="col-md-6 col-lg-6 events_image">
                        <img src="<%= event.photo %>" class="img-responsive">
                    </div>
                    <div class="col-md-6 col-lg-6 event_info">
                        <div class="about-text event-title">
                            <div class="section-title center">
                                <br /><h4>Event</h4>
                                <h2><strong><%= link_to event.name, event_path(event) %></strong></h2>
                                <div class="line center">
                                    <hr>
                                    </div>
                                <div class="clearfix"></div>
                            </div>
                                <p class="intro"><%= event.description %></p>
                                <ul class="about-list">
                                    <!-- <li>
                                        <span class="fa fa-dot-circle-o"></span>
                                        <strong>Description</strong> - <%= event.description %>
                                    </li> -->
                                    <li>
                                        <span class="fa fa-dot-circle-o"></span>
                                        <strong>Organization</strong> - <em><%= link_to event.user.profile.full_name, profile_path(event.user.profile) %></em>
                                    </li>
                                    <li>
                                        <span class="fa fa-dot-circle-o"></span>
                                        <strong>Location</strong> - <em><%= event.location %></em>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>
                <div class="row event_line">
                    <div class="col-md-6 col-lg-6 col-md-offset-3"><hr></div>
                </div>

            <% end %>
        </div>
    </div>
</div>


        
