<div id="tf-contact" class="text-center">
	<div class="container">

	    <div class="row">
	        <div class="col-md-8 col-md-offset-2">

	            <div class="section-title center">				

					<h1><%= @event.name %></h1><br />
					<h4> This event is coordinated by: </h4>
					<h3><%= link_to @event.user.profile.full_name, profile_path(@event.user.profile) %></h3><br />

					<img src="<%= @event.photo %>"><br /><br />

					<h4> About this event: </h4>
					<p><%= @event.description %></p><br />

					<h4> Location of event: </h4>
					<p><%= @event.location %></p><br /><br />

					<h2>Comments:</h2><br />
					<% @event.comments.each do |comment| %>
						<p>
					    	<%= comment.comment %> | <%= comment.commenter %>
					    	<% if (current_user.profile.full_name == comment.commenter) || (current_user.id == @event.user_id) %>
					    		 | <%= link_to 'Delete', event_comment_path(@event, comment),
						            method: :delete,
						            data: { confirm: 'Are you sure?' } %>
							<% end %>
						</p>
					<% end %>

					<h2>Add a comment:</h2>

					<%= render "comments/form" %>

					<%= link_to 'back', events_path %>
					<% if @event.user == current_user %>
						| <%= link_to 'edit', edit_event_path(@event) %>
						| <%= link_to 'delete', event_path(@event),
						            method: :delete,
						            data: { confirm: 'Are you sure?' } %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>