<h1><%= @event.name %></h1>
<h3><%= @event.user.profile.full_name %></h3>

<img src="<%= @event.photo %>">

<p><%= @event.description %></p>

<strong>Comment:</strong>
<% @event.comments.each do |comment| %>
	<p>
    	<%= comment.comment %> | <%= comment.commenter %>
    	<% if (current_user.profile.full_name == comment.commenter) || (current_user.id == @event.user_id) %>
    		 | <%= link_to 'Delete', event_comment_path(@event, comment),
	            method: :delete,
	            data: { confirm: 'Are you sure?' } %>
		<% end %>
	</p>
<% end %>

<h2>Add a comment:</h2>

<%= render "comments/form" %>

<%= link_to 'back', events_path %>
<% if @event.user == current_user %>
	| <%= link_to 'edit', edit_event_path(@event) %>
	| <%= link_to 'delete', event_path(@event),
	            method: :delete,
	            data: { confirm: 'Are you sure?' } %>
<% end %>