<style type="text/css">
    
.cover {
    background-position: cover;
}
</style>


<div id="tf-clients" class="text-center cover">
   <div class="overlay events-page">
       <div class="container events_title">
            <div id="tf-contact" class="text-center">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">

                                <div class="section-title center">
                                    <h2>Log in<strong> to make a difference</strong></h2>
                                    <div class="line">
                                        <hr>
                                    </div>
                                    <div class="clearfix"></div>
                                    <small><em>Sign in below to get on your way!</em></small>  

                                <%= devise_error_messages! %>         
                                </div>

                                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <%= f.label :email %><br />
                                                <%= f.email_field :email, autofocus: true, class: "form-control" %>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <%= f.label :password %><br />
                                                <% if @minimum_password_length %>
                                                <em>(<%= @minimum_password_length %> characters minimum)</em>
                                                <% end %>
                                                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <% if devise_mapping.rememberable? -%>
                                            <div class="col-md-2">
                                              <div class="form-group">
                                                <%= f.label :remember_me %>
                                                <%= f.check_box :remember_me %>
                                              </div>
                                            </div>
                                            <div class="col-md-10">
                                            </div>
                                        <% end -%>
                                      
                                    
                                    <button type="submit"<%= f.submit "Send me reset password instructions", class: "btn tf-btn btn-default" %>> </button>

                                     </div> 

                                    
                                    <% end %>

                                <%= render "devise/shared/links" %>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
